{% extends "template.html" %}

{% block body %}
    <div class="main-body" id="main_body">
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus autocomplete="off" class="text-box" name="old_password" type="password" placeholder="Old password">
            </div>
            <div>
                <input class="text-box" name="new_password" type="password" placeholder="New password">
            </div>
            <div>
                <input class="text-box" name="password_confirm" type="password" placeholder="Confirm new password">
            </div>
            <div>
                <input class="button" type="submit" value="Change password">
            </div>

        </form>
    </div>

{% endblock %}